{% extends 'base.html' %}

{% block title %}Log In{% endblock %}
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'scripts/verification.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="main-accounts-form-section">
    <div class="accounts-form-div" id="login-form-div">
      <h2>Log In</h2>
      <form id="login-form">
        {% csrf_token %}
        <div class="form-field">
          <label>Log In Option</label>
          <select id="login-option" onchange="changeLoginOption()">
            <option value="email">Email</option>
            <option value="name">Name</option>
            <option value="nickname">Nickname</option>
            <option value="phone">Phone</option>
          </select>
        </div>
        <input type="text" name="login_option" id="selected-login-option" value="email" hidden/>
        <div class="form-field">
          <label id="login-option-label">Email</label>
          <input type="text" name="login_option_value"/>
        </div>
        <div class="form-field">
          <label>Password</label>
          <input type="password" name="password"/>
        </div>
        <div class="form-field" id="email-input">
          <label>Email</label>
          <input type="text" name="email" placeholder="user with same name exists, need email to authenticate"/>
        </div>
        <button id="login-btn">Log In</button>
        <script>
          function changeLoginOption() {
            let select = document.getElementById('login-option');
            document.getElementById('login-option-label').innerHTML = select.options[select.selectedIndex].text;
            document.getElementById('selected-login-option').value = select.options[select.selectedIndex].value;
            $('#email-input').css('display', 'none');
          }

          function validateLoginOptionValue(input) {
            let select = document.getElementById('login-option');
            let option = select.options[select.selectedIndex].value;
            switch(option) {
              case "email":
                return validateEmail(input);
              case "name":
                return validateName(input);
              case "nickname":
                return validateNickname(input);
              case "phone":
                return validatePhone(input);
            }
          }

          $('#login-btn').click(function(e) {
            e.preventDefault();
            let form = document.getElementById('login-form');
            let select = document.getElementById('login-option');
            let option = select.options[select.selectedIndex].value;
            let input = document.querySelector('input[name="login_option_value"]').value;
            let password = document.querySelector('input[name="password"]').value;
            if(!validateLoginOptionValue(input)) {
              alert('Please check ' + option);
              return;
            }
            if(!validatePassword(password)) {
              alert('Please check password : At least 1 lower case, 1 upper case, 1 number each / 6~20 letters');
              return;
            }
            if($('#email-input').css('display') == 'block') {
              let email = document.querySelector('input[name="email"]').value;
              if(!validateEmail(email)) {
                alert('Please check email');
              }
            }

            let data = JSON.stringify($(form).serializeArray());
            let token = $(form).find('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
              url: "/accounts/login/",
              type: "POST",
              data: {
                form_data: data,
                csrfmiddlewaretoken: token
              },
              success: function(res) {
                window.location.href = '/';
              },
              error: function(err) {
                alert('error: ' + err.responseJSON.error);
                if(err.status == 401) {
                    $('#email-input').css('display', 'block');
                }
              },
            });
          });
        </script>
      </form>
      <a href="/accounts/reset_password"><p id="reset-password-link">Reset password</p></a>
    </div>
  </section>
{% endblock %}
