{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
  <section class="main-accounts-form-section">
    <div class="accounts-form-div" id="sign-up-form-div">
      <h2>Sign Up</h2>
      <form id="sign-up-form">
        {% csrf_token %}
        <div class="form-field">
          <label>Email</label>
          <input type="text" name="email"/>
        </div>
        <div class="form-field">
          <label>Name</label>
          <input type="text" name="first_name"/>
        </div>
        <div class="form-field">
          <label>Nickname</label>
          <input type="text" name="username"/>
        </div>
        <div class="form-field">
          <label>Password</label>
          <input type="password" name="password" placeholder="At least 1 lower case, 1 upper case, 1 number each / 6~20 letters"/>
        </div>
        <div class="form-field">
          <label>Password Confirmation</label>
          <input type="password" name="password_confirmation"/>
        </div>
        <div class="form-field">
          <label>Phone</label>
          <button id="send-pin-btn" onclick="send_pin()">Send PIN</button>
          <input type="text" name="phone" id="phone-input" placeholder="without - (only numbers)" onchange="reset_pin()"/>
        </div>
        <div class="form-field" id="phone-pin">
          <label>Phone PIN</label>
          <input type="text" name="phone_pin"/>
        </div>
        <button id="signup-btn">Sign Up</button>
        <script>
          let pin = '';

          function reset_pin() {
            pin = '';
          }

          $('#send-pin-btn').click(function(e) {
            e.preventDefault();

            let phone = document.querySelector('input[name="phone"]').value;
            if(!validatePhone(phone)) {
              alert('Please check phone number');
              return;
            }

            let random = Math.floor(Math.random() * 1000000);
            if(random >= 100000) {
              pin = String(random);
            } else {
              pin = '0' + String(random);
            }
            $('#phone-pin').css('visibility', 'visible');
            alert(pin);
          });

          function validateEmail(email) {
            const reg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return reg.test(String(email).toLowerCase());
          }

          function validateName(name) {
            const reg = /^(?![\s-]+$)[가-힣a-zA-Z\s-]{1,150}$/;
            return reg.test(name);
          }

          function validateNickname(nickname) {
            const reg = /^(?![\s-]+$)[가-힣a-zA-Z0-9\s-]{1,150}$/;
            return reg.test(nickname);
          }

          function validatePassword(password) {
            const reg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            return reg.test(password);
          }

          function validatePhone(phone) {
            const reg = /^[0-9]{10,12}$/;
            return reg.test(phone);
          }

          $('#signup-btn').click(function(e) {
            e.preventDefault();
            let form = document.getElementById('sign-up-form');
            let email = document.querySelector('input[name="email"]').value;
            let name = document.querySelector('input[name="first_name"]').value;
            let nickname = document.querySelector('input[name="username"]').value;
            let password = document.querySelector('input[name="password"]').value;
            let passwordConfirmation = document.querySelector('input[name="password_confirmation"]').value;
            let phone = document.querySelector('input[name="phone"]').value;
            let phonePin = document.querySelector('input[name="phone_pin"]').value;
            if(!validateEmail(email)) {
              alert('Please check email');
              return;
            }
            if(!validateName(name)) {
              alert('Please check name');
              return;
            }
            if(!validateNickname(nickname)) {
              alert('Please check nickname');
              return;
            }
            if(!validatePassword(password)) {
              alert('Please check password : At least 1 lower case, 1 upper case, 1 number each / 6~20 letters');
              return;
            }
            if(password != passwordConfirmation) {
              alert('Passwords do not match');
              return;
            }
            if(!validatePhone(phone)) {
              alert('Please check phone number');
              return;
            }
            if(pin == '') {
              alert('Please click "Send PIN" to verify phone number');
              return;
            }
            if(phonePin != pin) {
              alert('Phone PIN does not match');
              return;
            }

            let data = JSON.stringify($(form).serializeArray());
            let token = $(form).find('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
              url: "/accounts/signup/",
              type: "POST",
              data: {
                form_data: data,
                csrfmiddlewaretoken: token
              },
              success: function(res) {
                alert('successfully registered');
                window.location.href = '/accounts/login';
              },
              error: function(err) {
                alert('error: ' + err.responseJSON.error);
              }
            });
          });
        </script>
      </form>
    </div>
  </section>
{% endblock %}
