.main-accounts-form-section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.accounts-form-div {
    width: 60%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.accounts-form-div .form-field {
    width: 80%;
    margin-bottom: 8px;
}

.accounts-form-div .form-field label {
    width: 40%;
}

.accounts-form-div .form-field input {
    width: 60%;
    float: right;
}

.accounts-form-div .form-field select {
    width: 61%;
    float: right;
}

.accounts-form-div .form-field #phone-input {
    width: calc(60% - 90px);
}

.accounts-form-div .form-field #send-pin-btn {
    width: 90px;
    float: right;
}

.accounts-form-div #email-input {
    display: none;
}

.accounts-form-div #phone-pin {
    visibility: hidden;
}

.accounts-form-div #reset-password-form {
    margin-top: 50px;
    display: none;
}

#reset-password-link {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}
