.main-accounts-form-section {
    width: 100vw;
    height: 100vh;
}

.accounts-form-div {
    width: 60%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.accounts-form-div .form-field {
    width: 80%;
    margin-bottom: 8px;
}

.accounts-form-div .form-field label {
    width: 40%;
}

.accounts-form-div .form-field input {
    width: 60%;
    float: right;
}

.accounts-form-div .form-field select {
    width: 61%;
    float: right;
}

.accounts-form-div .form-field #phone-input {
    width: calc(60% - 90px);
}

.accounts-form-div .form-field #send-pin-btn {
    width: 90px;
    float: right;
}

.accounts-form-div #phone-pin {
    visibility: hidden;
}
