#main-background {
    width: 100vw;
    height: 100vh;
    background-color: #484848;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#main-content-area {
    width: 28%;
    height: 36%;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
}

#main-content-area #nickname {
    color: #FCA84E;
}

#main-content-area #reset-password-link {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 32px;
}
