<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}Django Video Chat Web App{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
