<div id="navbar">
    <a href="/"><h1 id="wordmark">LOGO</h1></a>
    <div id="navbar-right">
        {% if user.is_authenticated %}
        <a href="/accounts/logout"><p class="navbar-submenu" id="log-out-btn">Log Out</p></a>
        {% else %}
        <a href="/accounts/login"><p class="navbar-submenu" id="log-in-btn">Log In</p></a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/accounts/profile"><p class="navbar-submenu" id="profile-btn">Profile</p></a>
        {% else %}
        <a href="/accounts/signup"><p class="navbar-submenu" id="sign-up-btn">Sign Up</p></a>
        {% endif %}
    </div>
</div>
